<!-- 产品中心 -->

<body>
<link rel="stylesheet" href="css/product.css">

<!--header-->

<div class="header">

    <div class="top">

        <div class="logo">

            <a href="index.html"><img src="images/logo.png" alt="logo"></a>

        </div>

        <ul>

            <li><a href="<?=url('index/index') ?>">首页</a></li>

                <li><a href="<?=url('about/index') ?>">公司介绍</a></li>

                <li><a href="<?=url('news/index') ?>">新闻中心</a></li>

                <li><a href="<?=url('product/index') ?>" class="current">产品中心</a></li>

                <li><a href="<?=url('contact/index') ?>">联系我们</a></li>

        </ul>

    </div>

</div>

<!--banner-->

<div class="banner">

    <img src="images/banner_6.png" alt="banner_6">

</div>

<!--content-->

<div class="content">

    <div class="center">

        <div class="slider">

            <ul>

                <li><a href="#" class="current">产品中心<i></i></a></li>

                <li><a href="#">观光景灯<i></i></a></li>

                <li><a href="#">新能LED<i></i></a></li>

                <li><a href="#">路灯照明<i></i></a></li>

                <li><a href="#">楼宇照明<i></i></a></li>

            </ul>

        </div>

        <div class="main">

            <div class="location">

                    <em>↘</em>

                    <span>您当前的位置是：</span>

                    <a href="index.html">首页</a><span> ></span>

                    <a class="on">产品中心</a>

            </div>

            <div class="pro_list">

                <ul>

                    <li><a href="product_detailed.html"><img src="images/product_1.png" alt="product_1"><p>观光景灯</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_2.png" alt="product_2"><p>新能LED</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_3.png" alt="product_3"><p>路灯照明</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_4.png" alt="product_4"><p>楼宇照明</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_5.png" alt="product_5"><p>洗墙照明</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_6.png" alt="product_6"><p>投光照明</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_7.png" alt="product_7"><p>水下照明</p></a>

                    </li>

                    <li><a href="product_detailed.html"><img src="images/product_8.png" alt="product_8"> <p>城市照明</p></a>

                    </li>

                </ul>

                <div class="page">

                    <ul>

                        <li><a href="#">上一页</a></li>

                        <li><a href="#" class="current">1</a></li>

                        <li><a href="#">2</a></li>

                        <li><a href="#">3</a></li>

                        <li><a href="#">4</a></li>

                        <li><a href="#">下一页</a></li>

                        <li><a href="#">尾页</a></li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>