<body>
<!--前台 产品详情 -->
 <link rel="stylesheet" href="css/product_detailed.css">

<!--header-->

<div class="header">

    <div class="top">

        <div class="logo">

            <a href="index.html"><img src="images/logo.png" alt="logo"></a>

        </div>

        <ul>

            <li><a href="index.html">首页</a></li>

            <li><a href="about.html">公司介绍</a></li>

            <li><a href="news.html">新闻中心</a></li>

            <li><a href="product.html" class="current">产品中心</a></li>

            <li><a href="contact.html">联系我们</a></li>

        </ul>

    </div>

</div>

<!--banner-->

<div class="banner">

    <img src="images/banner_2.png" alt="banner_2">

</div>

<!--content-->

<div class="content">

    <div class="center">

        <div class="slider">

            <ul>

                <li><a href="#" class="current">产品中心<i></i></a></li>

                <li><a href="#">观光景灯<i></i></a></li>

                <li><a href="#">新能LED<i></i></a></li>

                <li><a href="#">路灯照明<i></i></a></li>

                <li><a href="#">楼宇照明<i></i></a></li>

            </ul>

        </div>

        <div class="main">

            <div class="location">

                    <em>↘</em>

                    <span>您当前的位置是：</span>

                    <a href="index.html">首页</a><span> ></span>

                    <a href="product.html">产品中心</a><span> ></span>

                    <a class="on">产品详情</a>

            </div>

            <div class="product_detailed">

                <img src="images/product_9.png" alt="product_9">

                <p><span>产品名称：</span> 照明灯</p>

                <p><span>产品名称：</span> 都   锐</p>

                <p><span>机滤型号：</span>S0516R</p>

                <p><span>包装部件数量：</span>1件</p>

                <p><span>产品功能：</span>过滤机油中的杂质、污垢等</p>

                <p><span>更换建议：</span>本产品建议车主每行驶5000至10000公里或每6月更换一次。 （具体情况视汽车行驶路况或润滑油使用状态而定）</p>

            </div>

        </div>

    </div>

</div>
