    <!--footer-->

    <div class="footer">

        <div class="info">

            <ul>

                <li>

                    <img src="images/spirit_1.png" alt="spirit_1">

                    <p>咨询热线</p>

                    <p>0777—8888888</p>

                    <p>1888xxxxxx8</p>

                </li>

                <li>

                    <img src="images/spirit_2.png" alt="spirit_2">

                    <p>地址：</p>

                    <p>上海市浦东新区恒大路65号</p>

                </li>

                <li>

                    <img src="images/spirit_3.png" alt="spirit_3">

                    <p>邮箱：</p>

                    <p>邮箱：88888888@qq.com</p>

                </li>

                <li>

                    <img src="images/spirit_4.png" alt="spirit_4">

                    <p>网址：</p>

                    <p>http://www.shchencai.com</p>

                </li>

            </ul>

        </div>

        <div class="footer_main">

            <ul>

                <li><a href="#">首页</a></li>

                <li><a href="#">公司介绍</a></li>

                <li><a href="#">新闻中心</a></li>

                <li><a href="#">产品中心</a></li>

                <li><a href="#">联系我们</a></li>

            </ul>

            <p>

                Copyright © 2017-2017 上海晨彩照明工程有限公司All Rights Reserved .

                上海市浦东新区恒大路65号7栋2楼   备案号：沪ICP备17037263号

            </p>

            <p>

                王武 021-34783908 邮箱：99518900@qq.com QQ：99518900 13732637408

            </p>

            <p>

                景观亮化,户外照明,户外显示屏,亮化公司,泛光照明,泛光照明工程,灯光节,照明工程,照明设计,亮化工程

            </p>

        </div>

    </div>

</body>

</html>